	     {% load i18n %}
         {% load static %}


	  	<div class="countdown" >
	  		<ul  align="center" >
	  			<li ><div id="day" >30</div></li>
	  			<li style="color: black; font-size:10px"> روز </li>
	  			<li style= "margin-top: 5px"><div id="hour" >11</div></li>
	  			<li style="color: black; font-size:10px"> ساعت</li>
	  			<li style= "margin-top: 5px"><div id="min">54</div></li>
	  			<li style="color: black; font-size:10px"> دقیقه</li>
	  			<li style= "margin-top:5px"><div id="sec" >30</div></li>
	  			<li style="color: black; font-size:10px"> ثانیه</li>
	  		</ul>

	  </div>