{% extends 'base/full-width.html' %}

{% load static i18n %}

{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block extra_header %}
<link rel="stylesheet" href="{% static 'intro/css/stylesheet.css' %}">
<link rel="stylesheet" href="{% static 'intro/css/2019stylesheet.css' %}">
{% endblock %}

{% block container %}

<div class="odd banner section" align="center">
    <img class="banner text image{% if LANGUAGE_BIDI %} bidi{% endif %}"
         src="{% static 'intro/image/banner-text.png' %}">
    <!--<div class="ui section">-->
    <!--<div class="ui center aligned grid"></div>-->
    <!--<div class="ui center aligned grid aic18-stamp">-->
    <!--ثبت نام به پایان رسید!-->
    <!--</div>-->
    <!--</div>-->


{#   countdown 2018 deleted totally#}
<div class="even section" id="section-intro">

    <div class="ui section header">
        <a class="ui big ai button" href="#section-intro">
            {% trans 'Introduction' %}
        </a>
    </div>
    <div class="ui stackable grid container">
        <div class="two column row">
            <div class="eight wide column">
                <p style="font-size: 1.3em;">
                    {% blocktrans %}
                    Sharif AI Challenge is a programming competition for all who are interested in artificial
                    intelligence.<br><br>This competition is held in two phases annually. Including an online
                    and an
                    on-site phase in which competitors will compete in teams of three in a game designed by our
                    technical team.<br><br>
                    The only pre-requisite to enter this competition is familiarity with programming using C++,
                    Java
                    or python. But obviously, knowledge of algorithmic thinking and artificial intelligence will
                    be
                    a great asset for any of the participating teams. The registration for online competition is
                    free.
                    {% endblocktrans %}
                </p>

                <div class="ui center aligned container">
                    <a href="{% if request.user.is_authenticated %}{% url 'accounts:panel' %}{% else %}{% url 'accounts:signup' %}{% endif %}"
                       class="ui centered massive animated violet button">
                        {% if request.user.is_authenticated %}
                        <div class="visible content">
                            {% trans 'Panel' %}
                        </div>
                        <div class="hidden content">
                            {% trans 'Panel' %}
                        </div>
                        {% else %}
                        <div class="visible content">
                            {% trans 'Participate' %}
                        </div>
                        <div class="hidden content">
                            {% trans 'Register' %}
                        </div>
                        {% endif %}
                    </a>
                </div>

            </div>
            <div class="eight wide column">
                <div id="15171308283766309"></div>
            </div>

        </div>

    </div>

{#    <div class="ui section">#}
{#        <div class="ui center aligned grid">#}
{#            <div class="circle" id="purple">#}
{#                {% trans 'Users' %}<br/>#}
{#                <a>#}
{#                    {{ users_count }}#}
{#                </a>#}
{#            </div>#}
{#            <div class="circle" id="yellow">#}
{#                {% trans 'Submissions' %}<br/>#}
{#                <a>#}
{#                    {{ submits_count }}#}
{#                </a>#}
{#            </div>#}
{#            <div class="circle" id="blue">#}
{#                {% trans 'Teams' %}<br/>#}
{#                <a>#}
{#                    {{ teams_count }}#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="container" dir="rtl">
            <div class="row text-center">
                <div class="col">
                 <div class="counter">
                  <p class="count-text ">کاربران</p>
                  <i class="fas fa-user-check fa-4x"></i>
                  <h2 class="timer count-title count-number" data-to="1000" data-speed="900"></h2>
                 </div>
                </div>

                <div class="col">
                 <div class="counter">
                  <p class="count-text ">تیم ها</p>
                  <i class="fas fa-user-friends fa-4x"></i>
                  <h2 class="timer count-title count-number" data-to="1000" data-speed="900"></h2>
                 </div>
                </div>

                <div class="col">
                 <div class="counter">
                  <p class="count-text ">ارسال ها</p>
                  <i class="far fa-file-code fa-4x"></i>
                  <h2 class="timer count-title count-number" data-to="1000" data-speed="900"></h2>
                 </div>
                </div>
			</div>
        </div>

</div>

<div class="odd section" id="section-prizes">
    <div class="ui section header">
        <a class="ui big ai button" href="#section-prizes">
            {% trans 'Prizes' %}
        </a>
    </div>
    <div class="ui stackable grid container" style="padding: 30px;">
        <div class="three column row">
            <div id="second-cup" class="five wide column" style="text-align: center;">

                <div class="image">
                    <img src="{% static 'intro/image/Cup2.png' %}">
                </div>
                <div class="ui horizontal divider header">
                    {% trans 'Second Place' %}
                </div>
                <div class="ui large header">
                    {% trans '5 Million Tomans' %}
                </div>
            </div>
            <div id="champion-cup" class="six wide column" style="text-align: center;">
                <div class="image">
                    <img src="{% static 'intro/image/Cup1.png' %}">
                </div>
                <div class="ui horizontal divider header">
                    {% trans 'Champion' %}
                </div>
                <div id="seven-million" class="ui large header">
                    {% trans '7 Million Tomans' %}
                </div>
            </div>
            <div id="third-cup" class="five wide column" style="text-align: center;">
                <div class="image">
                    <img src="{% static 'intro/image/Cup3.png' %}">
                </div>
                <div class="ui horizontal divider header">
                    {% trans 'Third Place' %}
                </div>
                <div class="ui large header">
                    {% trans '3 Million Tomans' %}
                </div>
            </div>
        </div>
    </div>
</div>
{#  todo images and texts of popvers#}
<div class="even section" id="section-history"
     style="height: 100vh !important; background: url('{% static 'intro/image/banner-background.png' %}'); background-repeat: no-repeat; background-position: 90%;">
<section id="timeline">
  <article >
    <div class="inner" >

      <span class="date">
        <span class="day"><sup></sup></span>
        <span class="month">AI</span>
        <span class="year" >2014</span>
      </span>
      <h2 align="right" id="sixth"  data-toggle="popover" data-trigger="hover" data-placement="right" > دوره ششم</h2>

    </div>

  </article>

  <article>
    <div class="inner">
      <span class="date">
        <span class="day"><sup></sup></span>
        <span class="month">AI</span>
        <span class="year">2015</span>
      </span>
      <h2 align="right" id="seventh"  data-toggle="popover" data-trigger="hover" data-placement="left"> دوره هفتم </h2>
      </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="day"><sup></sup></span>
        <span class="month">AI</span>
        <span class="year">2016</span>
      </span>
      <h2 align="right" id="eigth"  data-toggle="popover" data-trigger="hover" data-placement="right"> دوره هشتم </h2>
     </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="day"><sup></sup></span>
        <span class="month">AI</span>
        <span class="year">2017</span>
      </span>
      <h2 align="right" id="ninth"  data-toggle="popover" data-trigger="hover" data-placement="left"> دوره نهم </h2>
       </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="day"><sup></sup></span>
        <span class="month">AI</span>
        <span class="year">2018</span>
      </span>
      <h2 align="right" id="tenth"  data-toggle="popover" data-trigger="hover" data-placement="right">  دوره دهم </h2>
      </div>
  </article>
</section>
</div>

<div class="odd section" id="section-schedule">
    <div class="ui section header">
        <a class="ui big ai button" href="#section-schedule">
            {% trans 'Schedule' %}
        </a>
    </div>
    <div class="ui container">
        <table class="ui inverted grey table"
               style="background-color: #813800; font-size: 1.3em; text-align: center">
            <tbody>
            <tr>
                <td>
                    {% trans 'Jan30 - Feb17' %}
                </td>
                <td>
                    {% trans 'Registration' %}
                </td>
            </tr>
            <tr>
                <td>
                    {% trans 'Feb3 - Feb21' %}
                </td>
                <td>
                    {% trans 'Online Phase' %}
                </td>
            </tr>
            <tr>
                <td>
                    {% trans 'March7 - March8' %}
                </td>
                <td>
                    {% trans 'Sharif On-Site Phase' %}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="ui center aligned container">
            <a href="{% url 'intro:faq' %}" class="ui centered violet button">
                {% trans 'FAQ' %}
            </a>
        </div>
    </div>
</div>
</div>

<div class="even section" id="section-organizer">

    <div class="ui section header">
        <a class="ui big ai button" href="#section-organizer">
            {% trans 'Contact Us' %}
        </a>
    </div>
    <div class="ui center aligned stackable grid">
        <div class="eight wide column">
            <h1 class="ui header">{% trans 'Organizer' %}</h1>
            <a href="http://ssc.ce.sharif.edu/"><img class="ui centered medium image"
                                                     src="{% static 'intro/image/SSC.png' %}" alt="SSC Image"></a>
            <div class="ui horizontal divider"></div>
            <h1 class="ui header">{% trans 'Sponsors' %}</h1>
            <a href="https://cafebazaar.ir/"><img class="ui centered medium image"
                                                  src="{% static 'intro/image/sponsors.png' %}"></a>
        </div>
        <div class="eight wide column">
            <h1 class="ui header">{% trans 'Location' %}</h1>
            <iframe id="google_maps_iframe" src=""
                    frameborder="0" style="border: 0"></iframe>
            <p>
                {% trans 'Address: ' %}
                {% blocktrans %}
                Dept. of Computer Eng., Sharif University of Technology<br>
                Azadi St, Tehran
                {% endblocktrans %}<br>
            </p>
            <div class="ui horizontal divider"></div>
            <h1 class="ui header">{% trans 'Contact Info' %}</h1>
            <b>{% trans 'Email: ' %}<a href="mailto:aichallenge@sharif.edu">aichallenge@sharif.edu</a></b>
            <br><b>{% trans 'Phone: ' %}<span dir="ltr">021-6616-5781</span></b></p>
        </div>
    </div>
</div>

{% endblock %}

{% block footer_scripts %}
{{ block.super }}
<script src="{% static 'intro/js/timeline2019.js' %}"></script>
<script src="{% static 'intro/js/scripts.js' %}"></script>
<script src="{% static 'intro/js/count-up-submissions.js' %}"></script>
{% endblock %}
